@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lavishly+Yours&family=Lobster&family=Lora&family=PT+Serif:wght@700&family=Pacifico&family=Poppins:wght@600&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Shanti&family=Ubuntu:wght@500&display=swap');


.heading{
    font-family: 'Shanti', sans-serif;
    font-size: 130%;
}



.more{
    cursor: pointer;
}


.sub-more{
    display: none; 
    transition: .2s;
}

.more:hover .sub-more{
    display: block; 
}

#arrow-down{
    transition: 0.1s;
}

.more:hover #arrow-down{
    transform: rotate(-180deg); 
}


.sub-li:hover{
    background-color: #F9F9FA;
}
